/**
 * ==================================
 *     LOGIN & SEARCH CONTAINERS
 * ==================================
 */

.login_container,
.search_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_container{
  position: fixed;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0, 0);
  background: var(--bg-l1);
  transition: opacity, transform 200ms;
  z-index: 200;
}

.login_container.after{
  opacity: 1;
  transform: scale(1, 1);
}

.search_container{
  justify-content: space-around;
  width: 90%;
  min-height: 28vh;
  margin: 16vh 0 3vh 0;
}

.form_login{
  position: relative;
  display: grid;
  place-items: center;
  width: 70%;
  height: 50%;
  border-radius: 6px;
  background: var(--bg-d1);
  box-shadow: 2px 2px 5px #e8e8e852,
            -2px -2px 5px #e8e8e852;
}

