/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #132026;
  --bg1-transparent1: #132026e0;
  --bg1-transparent2: #13202639;
  --bg2: #1f4172;
  --bg2-transparent: #1f4172aa;
  --bg3:var(--font2);
  --bg4: #acd5d6;
  --font:#d2d2d2;
  --font1:#ecb460;
  --font2:#fcd9b8;
  --font3:#aaf255;
  --font4: #ecf1f1;
  --error1: #d88291;
  --error2: #febbbb;
  --linkActive: #BB86FC;
  --linkHover: #acd5d6;
  /* --linkHover: #aaf255; */
}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

 .body,
 .header_search,
 .nav_search,
 .main,
 .footer{
   display: flex;
 }

.body_login{
  background: no-repeat fixed url("../../assets/img/login.jpg"), #000;
  background-position: 50% 30%;
}
.body_search{
  background: no-repeat fixed url("../../assets/img/search.jpg"), #000;
  background-position: 50% 5%;
}

.body{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--font1);
  min-height: 100vh;
  background-size: 100%;
}


.header_login{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 10vh;
}

.header_search{
  position: fixed;
  height: 10vh;
  z-index: 60;
  color: var(--font1);
}

.footer{
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  background: var(--bg1-transparent2);
  transition: background 200ms;
}

.footer:hover,
.footer:focus-within{
  background: var(--bg1-transparent1);
}

.main{
  color:  var(--font1);
  align-items: flex-start;
  justify-content: space-evenly;
}

.nav{
  width: 90%;
  min-width: 350px;
}

.nav_search{
  justify-content: flex-end;
  align-items: center;
}

