/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #000004;
  --bg1-transparent1: #000004e0;
  --bg1-transparent2: #00000439;
  --bg2: #1f4172;
  --bg2-transparent: #1f4172aa;
  --bg3:var(--font2);
  --bg4: #acd5d6;
  --bg5:#d2d2d2;

  --bg-nav: #000;
  --font-nav:#aaf255;

  --shadow-l1: #fff6;


  --bg-claq1-d: #132026;


  --font0:#000008;
  --font1:#ecb460;
  --font2:#fad1ab;
  --font3:#aaf255;
  --font4: #ecf1f1;
  --error0: #f03655;
  --error1: #d88291;
  --error2: #febbbb;
  --linkActive: #BB86FC;
  --linkHover: #8ae4e6;

  --board-height: 350;

}

*{ 
  box-sizing: border-box 
}

/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--font1);
  background: var(--bg-nav);
  font-family: 'Montserrat Alternates', sans-serif;
}

.main,
.section,
.footer,
.nav{
  display: flex;
  width: 100%;
}

.main{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}

.nav{
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 93%;
  height: 60px;
  background: var(--bg-nav);
}

.nav_container{
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 
    repeat(auto-fit, minmax(4.5rem, 1fr));
  grid-auto-flow: column;
  list-style: none;
  text-align: center;
  width: 98%;
  margin: 0.5rem auto;
  padding: 0;
  overflow: hidden;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 215px;
  padding: 0 0 60px 0;
  background: var(--bg3);
  color: var(--font0);
  transition: background 200ms;
}
