/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #132026;
  --bg1-transparent1: #132026e0;
  --bg1-transparent2: #13202639;
  --bg2: #1f4172;
  --bg2-transparent: #1f4172aa;
  --bg3:var(--font2);
  --bg4: #acd5d6;
  --bg5:#d2d2d2;

  --bg-l: #fff;
  --bg-d: #005;

  --bg-l1: #fffa;
  --bg-d1: #005a;
  
  --bg-l2: #fff4;
  --bg-d2: #0054;

  --font:#d2d2d2;
  --font1:#ecb460;
  --font2:#fcd9b8;
  --font3:#aaf255;
  --font4: #ecf1f1;
  --error1: #d88291;
  --error2: #febbbb;
  --linkActive: #BB86FC;
  --linkHover: #acd5d6;
}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  color: var(--font1);
}

.header_search,
.nav_search,
.main{
  display: flex;
}

.body_login{
  overflow: hidden;
  background: no-repeat fixed url("../../assets/img/login.jpg"), #000;
  background-position: 50% 30%;
  background-size: 100%;
}

.body_search{
  min-height: 100vh;
  background: no-repeat fixed url("../../assets/img/search.jpg"), #000;
  background-position: 50% 5%;
  background-size: auto;
}

.header_search{
  position: fixed;
  height: 10vh;
  z-index: 60;
  color: var(--font1);
}

.main{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}

.nav{
  width: 90%;
  min-width: 350px;
}

.nav_search{
  justify-content: flex-end;
  align-items: center;
}

.footer{
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: -30vh;
  width: 100%;
  min-height: 40vh;
  background: var(--bg1-transparent2);
  transition: background 200ms;
}

.footer:hover,
.footer:focus-within{
  background: var(--bg1-transparent1);
}
