:root{
  --bg1: #292929;
  --bg2: #393939;
  --font1:#d2d2d2;
  --linkActive: #BB86FC;
  --linkHover: #aaf255;
  --error: #d88291;
}

*{ box-sizing: border-box }

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a, a:link,
a:visited{
 text-decoration: none;
 color: var(--font1);
}

a:hover,
.btn:hover{
 color: var(--linkHover);
}

a:active,
.btn:active {
  color: var(--linkActive);
}

#empty_favorites{
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  opacity: 0;
  color: var(--font1);
  transition: opacity 500ms ease-in-out;
}

input{
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  outline: none;
  transition: background 200ms ease-in-out;
}

label{ margin: 0 10px }

header,
footer{
  background: var(--bg1);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--font1);
}

header{
  position: fixed;
  z-index: 60;
}

footer{height: 8vh}

.main{
  background: var(--bg2);
  color:  var(--font1);
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  padding-top: 16vh;
  align-items: center;
}

.nav{
  width: 90%;
  min-width: 350px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 8rem;
  width: 10rem;
  height: 2rem;
  text-align: center;
  align-self: center;
  background: transparent;
  user-select: none;
  cursor: pointer;
}

.btn:hover{
  box-shadow: inset 2px 2px 3px #e7e7e72c,
              inset -2px -2px 3px #e7e7e72c;
}

.menu_search{
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_container,
.search_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 45vh;
  width: 85%;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #18181852,
             -2px -2px 5px #18181852;
}

.search_container{
  min-height: 25vh;
  margin-bottom: 3vh;
}

.item_container{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.item_container_label,
.item_container_info{
  padding: 0;
  margin: 0;
  text-align: center;
}

.item_title{
  display: flex;
}


.btn_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.results_container{width: 90%}

.preview_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  place-items: center;
  padding-bottom: 2rem;
}

.movie_container{
  position: relative;
  height: 300px;
  width: 300px;
  border-top-right-radius: 19%;
  overflow: hidden;
  box-shadow: -2px 5px 2px var(--linkActive);
}

.img_preview,
.description_movie{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem 6rem 1rem 1rem;
}

.img_preview{
  overflow: hidden;
  padding: 0;
  clip-path: circle(15% at 85% 20%);
  transition: clip-path 300ms;
  z-index: 20;
}

.img_preview:hover{
  clip-path: circle(80% at 77% 22%);
}

.fav{
  background: var(--error);
}

.description_movie{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_container{
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow: hidden;
  clip-path: circle(0 at 50% 50%);
  transition: clip-path 500ms ease-in-out;
  pointer-events: none;
  z-index: 80;
}

.detail_container.after{
  clip-path: circle(100% at 50% 50%);
  pointer-events: all;
}

.card_movie{
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  background-color: rgba(255,255,255,0.5);
}

.card_movie.after{
  opacity:1;
}

.details_movie,
.details{
  background-color: var(--bg2);
  margin: 15vh auto;
  padding: 1rem;
  width: 80%;
  height: 75vh;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
              0 7px 20px 0 rgba(0,0,0,0.17);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.details{
  margin: 0;
  margin-bottom: 5vh;
  width: 90%;

}

.image_detail_container{
  height: 100%;
  width: 100%;
  position: relative;
}

.image_detail_container img{
  width: 90%;
  height: 100%;
  object-fit: fill;
}

.rating{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 90%;
  height: 3rem;
  backdrop-filter: blur(15px);  
  -webkit-backdrop-filter: blur(15px);
  color: var(--linkHover);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.movie_details_container{
  height: 100%;
  width: 96%;
  padding-top: 12px;
}

.movie_title h2{
  text-align: center;
}

.modal_close{
  float: right;
  color: var(--font1);
  font-size: 2.5rem;
  z-index: 2;
  align-self: flex-start;
  position: absolute;
  right: 0;
  top: 7px;
  padding: 0 1rem;
}
.modal_close:hover,
.modal_close:focus{
  color: var(--linkHover);
  text-decoration: none;
  cursor: pointer;
}

.btn_action_favorites{
  position: absolute;
  bottom: 20px;
  right: 2vw;
}

.favorites_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
